<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Rent-A-Place</a>
    
    <!-- Navbar Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item " *ngIf="!isAdminPage()">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>

      <!-- Centered Search Bar -->
      <div class="d-flex mx-auto" *ngIf="!isLoginPage() && !isRegisterPage() && !isAdminPage()">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
          <input type="search" class="form-control rounded" placeholder="Enter place to visit" aria-label="Search" aria-describedby="search-addon" />
          <button type="button" class="btn btn-outline-primary">Search</button>
        </form>
      </div>

      <!-- Authentication and User Actions -->
      <div class="navbar ml-auto">
        <div class="">
          <span *ngIf="!isLoggedIn() && !isLoginPage()" class="text-success login-link" routerLink="/login" style="margin-right: 5px;">Login</span>
        </div>
        <div class="">
          <button *ngIf="!isLoggedIn()" class="btn btn-outline-primary" routerLink="/register">Signup</button>
        </div>
      </div>

      <!-- Dropdown for Authenticated Users -->
      <div *ngIf="isLoggedIn()" class="navbar ml-auto">
        <button *ngIf="isAdmin()" class="btn btn-outline-primary" routerLink="/addNewProperty">Add new Property</button>

        <!-- User Dropdown -->
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
            </svg>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">My Booking</a></li>
            <li><a class="dropdown-item" href="#" *ngIf="isAdminPage()">Booking requests</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><button type="button" class="btn btn-link" (click)="logout()">Logout</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

