<div class="container mt-5">
    <div class="card p-4">
    <div class="row">
    <div class="col-md-6">
        <form #propertyForm="ngForm" (ngSubmit)="addProperty(propertyForm)">

    <div class="mb-3">
    <label for="PropertyName">Property Name</label>
    <input matInput
    class="form-control"
    placeholder="Property Name"
    [(ngModel)]="property.propertyName"
    name="propertyName">
    </div>
    <div class="mb-3">
      <label for="propertyLocation">Property lOCATION</label>
      <input matInput
      class="form-control"
      placeholder="Property Name"
      [(ngModel)]="property.propertyLocation"
      name="propertyLocation">
      </div>
    <!-- <div class="mb-3">
        <label for="propertyLocation">Property location </label>
        <select matNativeControl [(ngModel)]="property.propertyLocation" name="propertyLocation" class="form-control">
          <option value="">Select Location</option>
          <option value="Chandigarh">Chandigarh</option>
          <option value="Bangalore">Bangalore</option>
          <option value="Mumbai">Mumbai</option>
          <option value="Delhi">Delhi</option>
        </select>
      </div> -->
    
    
    <div class="mb-3">
    <label for="PropertyDescription">Property Description</label>
    <textarea matInput
    class="form-control"
    placeholder="Property Description"
    [(ngModel)]="property.propertyDescription"
    name="propertyDescription"></textarea>
    </div>
    
    <div class="mb-3">
    <label for="PropertyActualPrice">Property Price</label>
    <input matInput
    class="form-control"
    placeholder="Property Actual Price"
    [(ngModel)]="property.propertyPrice"
    name="propertyPrice">
    </div>
    
    
    <div align="end">
    <button mat-stroked-button color="warn" class="mr-2">Clear</button>
    <button type="submit" mat-stroked-button color="primary">Add Property</button>
    </div>
    </form>
    </div>
    
    <div class="col-md-6">
    <div class="mb-3">
    <label for="selectFile">Select Property Images</label>
    <input type="file" multiple value="select" #selectFile class="form-control" (change)="onFileSelected($event)">
    </div>
    <div class="mt-5">
    <div class="row">
    <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let file of property.propertyImages; let i=index;">
    <div style="position: relative">
    <span class="btn-remove-image" (click)="removeImages(i)">X</span>
    <img [src]="file.url" width="100px" height="100px">
    </div>
    </mat-grid-tile>
    </mat-grid-list>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
  