<div class="container mt-5">

    <table mat-table [dataSource]="propertyDetails" class="mat-elevation-z8">
    
    
    
    <!-- Position Column -->
    <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.propertyId}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="Property Name">
    <th mat-header-cell *matHeaderCellDef> Property Name </th>
    <td mat-cell *matCellDef="let element"> {{element.propertyName}} </td>
    </ng-container>

<!-- Name Column -->
    <ng-container matColumnDef="Property Location">
        <th mat-header-cell *matHeaderCellDef> Property Location </th>
        <td mat-cell *matCellDef="let element"> {{element.propertyLocation}} </td>
        </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="Property Description">
    <th mat-header-cell *matHeaderCellDef> Property Description </th>
    <td mat-cell *matCellDef="let element"> {{element.propertyDescription}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
   
    
    <ng-container matColumnDef="Property Price">
    <th mat-header-cell *matHeaderCellDef> property Price </th>
    <td mat-cell *matCellDef="let element"> {{element.propertyPrice}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Images">
    <th mat-header-cell *matHeaderCellDef> Images </th>
    <td mat-cell *matCellDef="let element">
    <button mat-icon-button color="primary" (click)="showImages(element)">
    <mat-icon> images </mat-icon>
    </button>
    </td>
    </ng-container>
    
    <!--edit button-->
    <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element">
    <button mat-icon-button color="primary">
    <mat-icon> edit </mat-icon>
    </button>
    </td>
    </ng-container>
    
    <!--delete button-->
    <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
    <button mat-icon-button color="warn" (click)="deleteProperty(element.propertyId)">
    <mat-icon> delete </mat-icon>
    </button>
    </td>
    </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
    